In [1]:
import pandas as pd
# read from url, save exporting daily
# Hover over 'export as csv' ctrl click and select Copy Link Address
# Looks like this
#'https://data.cityofnewyork.us/api/views/25th-nujf/rows.csv?accessType=DOWNLOAD'
# In reality we only need up to csv argument
#'https://data.cityofnewyork.us/api/views/25th-nujf/rows.csv'

In [6]:
# I had to paste the following into terminal to download from urls...
# /Applications/Python\ 3.6/Install\ Certificates.command

url = 'https://data.cityofnewyork.us/api/views/25th-nujf/rows.csv'
names = pd.read_csv(url)

In [10]:
names.sort_values('Count',ascending=False)

,Year of Birth,Gender,Ethnicity,Child's First Name,Count,Rank
3505,2011,MALE,HISPANIC,JAYDEN,426,1
5430,2011,MALE,HISPANIC,JAYDEN,426,1
1504,2011,MALE,HISPANIC,JAYDEN,426,1
7393,2011,MALE,HISPANIC,JAYDEN,426,1
15965,2011,MALE,HISPANIC,JAYDEN,426,1
9385,2012,MALE,HISPANIC,JAYDEN,364,1
17912,2012,MALE,HISPANIC,JAYDEN,364,1
19915,2013,MALE,HISPANIC,Jayden,352,1
11402,2013,MALE,HISPANIC,Jayden,352,1
22,2011,FEMALE,HISPANIC,ISABELLA,331,1
20471,2014,FEMALE,HISPANIC,Isabella,331,1
12398,2014,FEMALE,HISPANIC,Isabella,331,1
6369,2011,FEMALE,HISPANIC,ISABELLA,331,1
4406,2011,FEMALE,HISPANIC,ISABELLA,331,1
2906,2011,FEMALE,HISPANIC,ISABELLA,331,1
13984,2011,FEMALE,HISPANIC,ISABELLA,331,1
16921,2012,FEMALE,HISPANIC,ISABELLA,327,1
8332,2012,FEMALE,HISPANIC,ISABELLA,327,1
10343,2013,FEMALE,HISPANIC,Isabella,326,1
18868,2013,FEMALE,HISPANIC,Isabella,326,1
13514,2014,MALE,HISPANIC,Liam,312,1
21143,2014,MALE,HISPANIC,Liam,312,1
3541,2011,MALE,HISPANIC,JUSTIN,310,2
1540,2011,MALE,HISPANIC,JUSTIN,310,2
7429,2011,MALE,HISPANIC,JUSTIN,310,2
5466,2011,MALE,HISPANIC,JUSTIN,310,2
16001,2011,MALE,HISPANIC,JUSTIN,310,2
11622,2013,MALE,WHITE NON HISPANIC,David,304,1
20135,2013,MALE,WHITE NON HISPANIC,David,304,1
15950,2011,MALE,HISPANIC,JACOB,303,3
...,...,...,...,...,...,...
8977,2012,MALE,ASIAN AND PACI,JUN,10,61
12119,2014,FEMALE,BLACK NON HISPANIC,Christina,10,41
3921,2011,MALE,WHITE NON HISPANIC,SILAS,10,97
3920,2011,MALE,WHITE NON HISPANIC,SIDNEY,10,97
3815,2011,MALE,WHITE NON HISPANIC,LEV,10,97
19025,2013,FEMALE,HISPANIC,Trinity,10,78
20766,2014,FEMALE,WHITE NON HISPANIC,Ester,10,86
12197,2014,FEMALE,BLACK NON HISPANIC,Maryam,10,41
20764,2014,FEMALE,WHITE NON HISPANIC,Erin,10,86
6496,2011,FEMALE,HISPANIC,PAOLA,10,78
3854,2011,MALE,WHITE NON HISPANIC,MOHAMMED,10,97
17966,2012,MALE,HISPANIC,LUKE,10,100
12178,2014,FEMALE,BLACK NON HISPANIC,Lauryn,10,41
3867,2011,MALE,WHITE NON HISPANIC,NIKOLAS,10,97
12176,2014,FEMALE,BLACK NON HISPANIC,Lailah,10,41
12173,2014,FEMALE,BLACK NON HISPANIC,Kylee,10,41
3871,2011,MALE,WHITE NON HISPANIC,NOSSON,10,97
12171,2014,FEMALE,BLACK NON HISPANIC,Kristen,10,41
3887,2011,MALE,WHITE NON HISPANIC,REED,10,97
12160,2014,FEMALE,BLACK NON HISPANIC,Kadiatou,10,41
20749,2014,FEMALE,WHITE NON HISPANIC,Eleni,10,86
6486,2011,FEMALE,HISPANIC,NATHALIA,10,78
3899,2011,MALE,WHITE NON HISPANIC,SAMIR,10,97
19018,2013,FEMALE,HISPANIC,Stacy,10,78
12133,2014,FEMALE,BLACK NON HISPANIC,Fatou,10,41
3906,2011,MALE,WHITE NON HISPANIC,SHAUL,10,97
6480,2011,FEMALE,HISPANIC,NANCY,10,78
8969,2012,MALE,ASIAN AND PACI,JIMMY,10,61
20740,2014,FEMALE,WHITE NON HISPANIC,Delilah,10,86
7703,2011,MALE,WHITE NON HISPANIC,LEV,10,97

pip3 install xlrd

pip3 install openpyxl

In [ ]:
# Make an ExcelWriter object, then add the df's to that object and export
pd.ExcelWriter()

In [23]:
a = pd.read_excel('/Users/danielhaggerty/Google Drive/run.xlsx')
type(a)

pandas.core.frame.DataFrame